{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-primary text-white">
                    <h2 class="text-center">{% if form.instance.id %}Edit{% else %}Add{% endif %} Receipt</h2>
          </div>
          <div class="card-body">
                    <form method="post" action="{% if form.instance.id %}{% url 'update_receipt' receipt_id=form.instance.id %}{% else %}{% url 'create_receipt' %}{% endif %}" class="needs-validation" novalidate>
              {% csrf_token %}
              {{ form.non_field_errors }}
              
              <div class="mb-3">
                <label for="{{ form.store_name.id_for_label }}" class="form-label">{{ form.store_name.label }}</label>
                {{ form.store_name }}
                <div class="invalid-feedback">{{ form.store_name.errors }}</div>
              </div>

              <div class="mb-3">
                <label for="{{ form.items.id_for_label }}" class="form-label">{{ form.items.label }}</label>
                {{ form.items }}
                <div class="invalid-feedback">{{ form.items.errors }}</div>
              </div>

              <div class="mb-3">
                <label for="{{ form.purchase_date.id_for_label }}" class="form-label">{{ form.purchase_date.label }}</label>
                {{ form.purchase_date }}
                <div class="invalid-feedback">{{ form.purchase_date.errors }}</div>
              </div>

              <div class="mb-3">
                <label for="{{ form.total_ammount.id_for_label }}" class="form-label">{{ form.total_ammount.label }}</label>
                {{ form.total_ammount }} $
                <div class="invalid-feedback">{{ form.total_ammount.errors }}</div>
              </div>

              <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

